*.deps
*.jpg
*.la
*.lo
*.o
*.pc
*.so
*.swp
*.3
*.7
*.log
*.trs
*.tar.xz
*~
.libs
.dirstamp
cscope.out
ctags
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.mk
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
Makefile
Makefile.in
protocol/*.[ch]
wayland-extension-version.h
